<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body>
    <div class="container">
      <h1>Hello, world!_link1</h1>
      
      <div class="col-7 col-sm-7 col-lg-7">
        <h2>BBS</h2>
        <div style="max-height:370px; overflow:auto;">
          <div data-spy="scroll" data-target="#navbarExample" data-offset="0" class="scrollspy-example">
            <ul>
              <% @comments.each do |comment| %>
                <% if comment.chat.nil? then %>
                  <% break %>
                <% else %>
                  <li data-id="<%= comment.id %>">
                  <%= comment.chat %>
                <span class="deleteCmd">
                  <a href="#" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-minus-sign"></i> delete</a>
                </span><hr>
                <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div><!--/span-->
    
      <script type="text/javascript">
        function addTF()
        {
        document.faceForm.message.value += "　　by <%= @write_user %>";
        }
      </script>
      
    <div class="col-5 col-sm-5 col-lg-5">
      <div class ="visible-xs"><hr></div>
        <h2>お急ぎ連絡フォーム</h2>
        <form class="faceForm" method="post" action="/chat">
          <div class="form-group">
	    <label>メッセージ</label><br>
	    <input type="text" name="message" class="form-control" placeholder="u write メッセージ">
            <label class="checkbox">
            <input type="checkbox"> DM で会話通知をする
	    </label>
          </div>
          <div class="form-group">
	    <button type="submit" onClick="addTF()" class="btn btn-primary"> 送 信 </button>
          </div>
	</form>	

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script>
          $('.deleteCmd').click(function() {
            var el = $(this).parent();
            if (confirm('are you sure to delte?')) {
              $.post('/delete', {
                id: el.data('id')
                }, function() {
                el.fadeOut(800);
              });
            }
          })
      </script>
      
    </div><!--/span-->
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>
